@use '@/styles/_variables.scss' as *;

.wrapper {
    width: 100%;
    height:70vh;
    padding: 40px 20px;
    border: 1px dashed #ddd;
    border-radius: 12px;
    text-align: center;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 60px;
    height: 60px;
    color: $primary-color;
    opacity: 0.8;
    animation: fadeIn 0.5s ease;
}

.message {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
