@use "@/styles/_variables.scss" as *;
@use "sass:color";

.wrapper {
    width: 100%;
    background: #fafafa;
    min-height: 100vh;
}

.breadcrumb {
    width: 90%;
    border-bottom: 1px solid gainsboro;
    padding: 10px 0;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 20px auto;
}

.header {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.products {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emptyCart {
    padding: 60px 20px;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    border: 1px dashed #ddd;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.emptyIcon {
    font-size: 64px;
    opacity: 0.6;
}

.emptyCart h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

.emptyCart p {
    font-size: 0.95rem;
    color: #777;
}

.shopBtn {
    margin-top: 10px;
    padding: 10px 18px;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background:  $primary-color;
        transform: translateY(-1px);
    }
}


.total {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;

    div {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
    }

    span:last-child {
        font-weight: bold;
        color: #c4300d;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 10px;
        border: none;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.2s;
    }

    button:first-of-type {
        background: #e63946;
        color: white;

        &:hover {
            background: #c62828;
        }
    }

    button:last-of-type {
        background: white;
        border: 1px solid #c4300d;
        color: #c4300d;

        &:hover {
            background: #fff3f3;
        }
    }
}
