@use '@/styles/_variables.scss' as *;

.wrapper {
    max-width: 950px;
    margin: 0 auto;
    padding: 2rem 1rem;
    line-height: 1.65;
    color: #333;

    .title {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        color: $primary-color;
        margin-bottom: 2rem;
    }

    .section {
        margin-bottom: 2rem;

        h2 {
            font-size: 1.4rem;
            margin-bottom: 0.8rem;
            color: $primary-color;
        }

        h3 {
            margin-top: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
        }

        ul {
            margin-left: 1rem;
            list-style: disc;

            li {
                margin-bottom: 0.45rem;
            }
        }

        strong {
            color: #000;
        }
    }
}