@use "@/styles/_variables.scss" as *;

.wrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.card {
    background: white;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        margin: 0;
        text-align: center;
        color: $primary-color;
        font-weight: 700;
        font-size: 1.8rem;
    }
}

.desc {
    text-align: center;
    font-size: 0.95rem;
    color: #555;
}

.input {
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.2s;

    &:focus {
        outline: none;
        border-color: $primary-color;
    }
}

.button {
    padding: 12px;
    background: $primary-color;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background: darken($primary-color, 7%);
    }
}

.error {
    color: #ff3b3b;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700;
}

.success {
    color: #2ecc71;
    font-size: 0.9rem;
    text-align: center;

}
